@mixin center__title {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin Name {
  width: 100%;
  position: relative;
  img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    filter: inset 5px 5px 5px #222222;
  }
}

@mixin card {
  max-width: 280px;
  margin: auto;
  height: 500px;
}

@mixin center-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

