@import "variables";
@import "mixins";
@import "loading";
@import "scrollbar";
@import "pagination";
@import "card";
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');

body {
  background-color: $backgroundColor;
  font-family: "Oswald", sans-serif;
}

.title {
  @include center-item;
  margin: auto;
  color: lighten($backgroundColor, 55);
  text-transform: uppercase;
  font-family: 'Gloria Hallelujah', cursive;
}

.c-count {
  margin-top: -10px;
  @include center-item;
  text-align: right;
  color: lighten($backgroundColor, 30);
  text-transform: uppercase;
  font-size: 15px;
}
