@import "mixins";

$cols: 4;
$margin: 10%;
$backgroundColor: rgb(7, 36, 41);
$equ: 100%/5;
$spinnersize: 100px;
$spinnercolor: rgb(0, 140, 158);

body {
  background-color: $backgroundColor;
  font-family: "Oswald", sans-serif;
}

.title {
  margin-top: 150px;
  max-width: 50%;
  @include center__title;
}
#grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
  ul {
    list-style-type: none;
  }

  .flip-card-container {
    @include card;
    border-radius: 10px;
  }

  .flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  &:checked ~ .flip-card {
    transform: rotateY(180deg);
  }

  .flip-card-container:hover .flip-card {
    transform: rotateY(180deg);
    animation-delay: 2s;
  }

  .flip-card-front,
  .flip-card-back {
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .flip-card-front {
    @include Name;
    background: rgba(255, 255, 255, 0.438);
    box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-align: left;
    perspective: 1000px;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 20px 60px -25px rgba(255, 255, 255, 0.5);
    }
  }
  .flip-card-back {
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.438);
    transform: rotateY(180deg);
  }

  .shadow {
    display: block;
    position: relative;
  }
  .shadow:before {
    bottom: 4px;
    box-shadow: inset 0px -50px 20px -10px rgba(0, 0, 0, 0.6);
    border-radius: 10px 10px 0px 0px;
    content: "";
    height: 50%;
    position: absolute;
    width: 100%;
  }

  h2 {
    width: 100%;
    position: absolute;
    top: 225px;
    text-align: right;
    right: 10px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }
  h3 {
    width: 100%;
    position: absolute;
    top: 250px;
    text-align: right;
    right: 10px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }
}

.info {
  font-weight: bold;
  font-size: 8px;
  text-transform: uppercase;
  margin: 10px 20px -10px 20px;
  span {
    text-align: left;
    width: 40%;
    display: inline-block;
    color: white;
  }
  p {
    text-align: right;
    width: 60%;
    display: inline-block;
    color: white;
  }
  hr {
    clear: both;
    color: rgba(0, 0, 0, 0.2);
  }
}

.card-back-info {
  font-weight: bold;

  text-transform: uppercase;
  margin: 10px 20px -10px 20px;
  h1 {
    color: white;
    text-align: center;
  }
  span {
    display: inline-block;
    margin: auto;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 10px;
    background-color: white;
    color: black;
    text-align: center;
  }
}

#pagination {
  max-width: 1050px;
  margin: 0 auto;
  position: relative;
  font-size: 15px;
  ul {
    list-style-type: none;
  }
  a {
    position: relative;
    float: left;
    color: white;
    margin: 0 4px;
    padding: 6px 9px 5px 9px;
    text-decoration: none;
    color: #ddd;

    &:hover{
      color: lighten($backgroundColor, 60);
    }
    &:active{
      color: lighten($backgroundColor, 60);
    }
  }
}

// ----- loading spinner
.spinner {
  position: absolute;
  top: calc(50% - #{$spinnersize / 2});
  left: calc(50% - #{$spinnersize / 2});
  width: $spinnersize;
  height: $spinnersize;
  animation: spinner 0.75s linear infinite;

  span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .spinner-inner-1 {
    background: linear-gradient(to right, rgba($spinnercolor, 0) 0%, rgba($spinnercolor, 0) 50%, $spinnercolor 51%);
  }

  .spinner-inner-2 {
    background: linear-gradient(to top, rgba($backgroundColor, 0) 0%, $backgroundColor 100%);
  }

  .spinner-inner-3 {
    $offset: $spinnersize * 0.1;
    top: $offset;
    left: $offset;
    width: $spinnersize - ($offset * 2);
    height: $spinnersize - ($offset * 2);
    background: $backgroundColor;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
